Plex.MobileHub.Manager/Service References/ManagementWebservice/management.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pmh.plexxis.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pmh.plexxis.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pmh.plexxis.com">
      <s:element name="GetExternalIP">
        <s:complexType />
      </s:element>
      <s:element name="GetExternalIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExternalIPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommandRepo">
        <s:complexType />
      </s:element>
      <s:element name="GetCommandRepoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommandRepoResult" type="tns:ArrayOfCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCommand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Command" nillable="true" type="tns:Command" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Command">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Params" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetConnectionRepository">
        <s:complexType />
      </s:element>
      <s:complexType name="Client">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPv4" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Port" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetConnectionRepositoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConnectionRepositoryResult" type="tns:ArrayOfClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConsumerRepository">
        <s:complexType />
      </s:element>
      <s:complexType name="Consumer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ConsumerId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DatabaseId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AppId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfConsumer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Consumer" nillable="true" type="tns:Consumer" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetConsumerRepositoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConsumerRepositoryResult" type="tns:ArrayOfConsumer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLogRepository">
        <s:complexType />
      </s:element>
      <s:complexType name="Log">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Priority" type="tns:LogPriority" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Record" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LogPriority">
        <s:restriction base="s:string">
          <s:enumeration value="Low" />
          <s:enumeration value="BelowAverage" />
          <s:enumeration value="Normal" />
          <s:enumeration value="AboveAverage" />
          <s:enumeration value="High" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfLog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Log" nillable="true" type="tns:Log" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLogRepositoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLogRepositoryResult" type="tns:ArrayOfLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponseRepository">
        <s:complexType />
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Resp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsError" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Response" nillable="true" type="tns:Response" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetResponseRepositoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResponseRepositoryResult" type="tns:ArrayOfResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogsGetAll">
        <s:complexType />
      </s:element>
      <s:element name="LogsGetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogsGetAllResult" type="tns:ArrayOfLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arguments" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Columns" type="tns:ArrayOfCol" />
          <s:element minOccurs="0" maxOccurs="1" name="Rows" type="tns:ArrayOfTuple" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCol">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Col" nillable="true" type="tns:Col" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Col">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ColumnSequence" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DataType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataLength" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataPrecision" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataScale" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AllowDbNull" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsReadOnly" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLong" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsKey" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUnique" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTuple">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tuple" nillable="true" type="tns:Tuple" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tuple">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NonQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arguments" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NonQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NonQueryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveCommandResponse">
        <s:complexType />
      </s:element>
      <s:element name="ResetLogs">
        <s:complexType />
      </s:element>
      <s:element name="ResetLogsResponse">
        <s:complexType />
      </s:element>
      <s:element name="AppAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isClientCustomApp" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AppAddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PlexxisDataTransferObjects" abstract="true" />
      <s:complexType name="APPS">
        <s:complexContent mixed="false">
          <s:extension base="tns:PlexxisDataTransferObjects">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="APP_ID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="AUTH_KEY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TITLE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IS_CLIENT_CUSTOM_APP" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AppRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppRetrieveResult" type="tns:APPS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppRemoveResponse">
        <s:complexType />
      </s:element>
      <s:element name="AppTableRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appTableId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppTableRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppTableRetrieveResult" type="tns:APP_TABLES" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APP_TABLES">
        <s:complexContent mixed="false">
          <s:extension base="tns:PlexxisDataTransferObjects">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TABLE_ID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="APP_ID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="INSERT_ALLOWED" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UPDATE_ALLOWED" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DELETE_ALLOWED" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="QUERY_ALLOWED" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AppTableAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="insert" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="update" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="delete" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="select" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppTableAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AppTableAddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppTableRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppTableRemoveResponse">
        <s:complexType />
      </s:element>
      <s:element name="AppTableColumnRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppTableColumnRemoveResponse">
        <s:complexType />
      </s:element>
      <s:element name="AppTableColumnAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tabId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="seq" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="prec" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="scale" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nullable" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="readOnly" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isLong" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isKey" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="keyType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="unique" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppTableColumnAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AppTableColumnAddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppTableColumnRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appTableColumnId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppTableColumnRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppTableColumnRetrieveResult" type="tns:APP_TABLE_COLUMNS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="APP_TABLE_COLUMNS">
        <s:complexContent mixed="false">
          <s:extension base="tns:PlexxisDataTransferObjects">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TABLE_ID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TABLE_COLUMN_ID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="COLUMN_NAME" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="COLUMN_SEQUENCE" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DATA_TYPE" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATA_LENGTH" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DATA_PRECISION" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DATA_SCALE" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ALLOW_DB_NULL" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IS_READ_ONLY" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IS_LONG" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IS_KEY" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="KEY_TYPE" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IS_UNIQUE" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ClientRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientRetrieveResult" type="tns:CLIENTS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CLIENTS">
        <s:complexContent mixed="false">
          <s:extension base="tns:PlexxisDataTransferObjects">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CLIENT_ID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CLIENT_KEY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CLIENT_INSTANCE_ID" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CLIENT_IP_ADDRESS" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CLIENT_PORT" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ClientRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientRemoveResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClientAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClientAddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientAppsAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientAppsAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClientAppsAddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientAppRetrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientAppId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientAppRetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientAppRetrieveResult" type="tns:CLIENT_APPS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CLIENT_APPS">
        <s:complexContent mixed="false">
          <s:extension base="tns:PlexxisDataTransferObjects">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CLIENT_APP_ID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="APP_ID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CLIENT_ID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ClientAppRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientAppRemoveResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfCommand" nillable="true" type="tns:ArrayOfCommand" />
      <s:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
      <s:element name="ArrayOfConsumer" nillable="true" type="tns:ArrayOfConsumer" />
      <s:element name="ArrayOfLog" nillable="true" type="tns:ArrayOfLog" />
      <s:element name="ArrayOfResponse" nillable="true" type="tns:ArrayOfResponse" />
      <s:element name="int" type="s:int" />
      <s:element name="APPS" nillable="true" type="tns:APPS" />
      <s:element name="APP_TABLES" nillable="true" type="tns:APP_TABLES" />
      <s:element name="APP_TABLE_COLUMNS" nillable="true" type="tns:APP_TABLE_COLUMNS" />
      <s:element name="CLIENTS" nillable="true" type="tns:CLIENTS" />
      <s:element name="CLIENT_APPS" nillable="true" type="tns:CLIENT_APPS" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetExternalIPSoapIn">
    <wsdl:part name="parameters" element="tns:GetExternalIP" />
  </wsdl:message>
  <wsdl:message name="GetExternalIPSoapOut">
    <wsdl:part name="parameters" element="tns:GetExternalIPResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommandRepoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommandRepo" />
  </wsdl:message>
  <wsdl:message name="GetCommandRepoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommandRepoResponse" />
  </wsdl:message>
  <wsdl:message name="GetConnectionRepositorySoapIn">
    <wsdl:part name="parameters" element="tns:GetConnectionRepository" />
  </wsdl:message>
  <wsdl:message name="GetConnectionRepositorySoapOut">
    <wsdl:part name="parameters" element="tns:GetConnectionRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetConsumerRepositorySoapIn">
    <wsdl:part name="parameters" element="tns:GetConsumerRepository" />
  </wsdl:message>
  <wsdl:message name="GetConsumerRepositorySoapOut">
    <wsdl:part name="parameters" element="tns:GetConsumerRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetLogRepositorySoapIn">
    <wsdl:part name="parameters" element="tns:GetLogRepository" />
  </wsdl:message>
  <wsdl:message name="GetLogRepositorySoapOut">
    <wsdl:part name="parameters" element="tns:GetLogRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetResponseRepositorySoapIn">
    <wsdl:part name="parameters" element="tns:GetResponseRepository" />
  </wsdl:message>
  <wsdl:message name="GetResponseRepositorySoapOut">
    <wsdl:part name="parameters" element="tns:GetResponseRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="LogsGetAllSoapIn">
    <wsdl:part name="parameters" element="tns:LogsGetAll" />
  </wsdl:message>
  <wsdl:message name="LogsGetAllSoapOut">
    <wsdl:part name="parameters" element="tns:LogsGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="QuerySoapOut">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="NonQuerySoapIn">
    <wsdl:part name="parameters" element="tns:NonQuery" />
  </wsdl:message>
  <wsdl:message name="NonQuerySoapOut">
    <wsdl:part name="parameters" element="tns:NonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveCommandSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveCommand" />
  </wsdl:message>
  <wsdl:message name="RetrieveCommandSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveCommandResponse" />
  </wsdl:message>
  <wsdl:message name="ResetLogsSoapIn">
    <wsdl:part name="parameters" element="tns:ResetLogs" />
  </wsdl:message>
  <wsdl:message name="ResetLogsSoapOut">
    <wsdl:part name="parameters" element="tns:ResetLogsResponse" />
  </wsdl:message>
  <wsdl:message name="AppAddSoapIn">
    <wsdl:part name="parameters" element="tns:AppAdd" />
  </wsdl:message>
  <wsdl:message name="AppAddSoapOut">
    <wsdl:part name="parameters" element="tns:AppAddResponse" />
  </wsdl:message>
  <wsdl:message name="AppRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:AppRetrieve" />
  </wsdl:message>
  <wsdl:message name="AppRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:AppRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="AppRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:AppRemove" />
  </wsdl:message>
  <wsdl:message name="AppRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:AppRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="AppTableRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:AppTableRetrieve" />
  </wsdl:message>
  <wsdl:message name="AppTableRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:AppTableRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="AppTableAddSoapIn">
    <wsdl:part name="parameters" element="tns:AppTableAdd" />
  </wsdl:message>
  <wsdl:message name="AppTableAddSoapOut">
    <wsdl:part name="parameters" element="tns:AppTableAddResponse" />
  </wsdl:message>
  <wsdl:message name="AppTableRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:AppTableRemove" />
  </wsdl:message>
  <wsdl:message name="AppTableRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:AppTableRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:AppTableColumnRemove" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:AppTableColumnRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnAddSoapIn">
    <wsdl:part name="parameters" element="tns:AppTableColumnAdd" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnAddSoapOut">
    <wsdl:part name="parameters" element="tns:AppTableColumnAddResponse" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:AppTableColumnRetrieve" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:AppTableColumnRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="ClientRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:ClientRetrieve" />
  </wsdl:message>
  <wsdl:message name="ClientRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:ClientRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="ClientRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:ClientRemove" />
  </wsdl:message>
  <wsdl:message name="ClientRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:ClientRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ClientAddSoapIn">
    <wsdl:part name="parameters" element="tns:ClientAdd" />
  </wsdl:message>
  <wsdl:message name="ClientAddSoapOut">
    <wsdl:part name="parameters" element="tns:ClientAddResponse" />
  </wsdl:message>
  <wsdl:message name="ClientAppsAddSoapIn">
    <wsdl:part name="parameters" element="tns:ClientAppsAdd" />
  </wsdl:message>
  <wsdl:message name="ClientAppsAddSoapOut">
    <wsdl:part name="parameters" element="tns:ClientAppsAddResponse" />
  </wsdl:message>
  <wsdl:message name="ClientAppRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:ClientAppRetrieve" />
  </wsdl:message>
  <wsdl:message name="ClientAppRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:ClientAppRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="ClientAppRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:ClientAppRemove" />
  </wsdl:message>
  <wsdl:message name="ClientAppRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:ClientAppRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="GetExternalIPHttpGetIn" />
  <wsdl:message name="GetExternalIPHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCommandRepoHttpGetIn" />
  <wsdl:message name="GetCommandRepoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCommand" />
  </wsdl:message>
  <wsdl:message name="GetConnectionRepositoryHttpGetIn" />
  <wsdl:message name="GetConnectionRepositoryHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfClient" />
  </wsdl:message>
  <wsdl:message name="GetConsumerRepositoryHttpGetIn" />
  <wsdl:message name="GetConsumerRepositoryHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfConsumer" />
  </wsdl:message>
  <wsdl:message name="GetLogRepositoryHttpGetIn" />
  <wsdl:message name="GetLogRepositoryHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLog" />
  </wsdl:message>
  <wsdl:message name="GetResponseRepositoryHttpGetIn" />
  <wsdl:message name="GetResponseRepositoryHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfResponse" />
  </wsdl:message>
  <wsdl:message name="LogsGetAllHttpGetIn" />
  <wsdl:message name="LogsGetAllHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLog" />
  </wsdl:message>
  <wsdl:message name="RetrieveCommandHttpGetIn">
    <wsdl:part name="Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveCommandHttpGetOut" />
  <wsdl:message name="ResetLogsHttpGetIn" />
  <wsdl:message name="ResetLogsHttpGetOut" />
  <wsdl:message name="AppAddHttpGetIn">
    <wsdl:part name="authKey" type="s:string" />
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="isClientCustomApp" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppAddHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AppRetrieveHttpGetIn">
    <wsdl:part name="appId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:APPS" />
  </wsdl:message>
  <wsdl:message name="AppRemoveHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppRemoveHttpGetOut" />
  <wsdl:message name="AppTableRetrieveHttpGetIn">
    <wsdl:part name="appTableId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppTableRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:APP_TABLES" />
  </wsdl:message>
  <wsdl:message name="AppTableAddHttpGetIn">
    <wsdl:part name="appId" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="desc" type="s:string" />
    <wsdl:part name="insert" type="s:string" />
    <wsdl:part name="update" type="s:string" />
    <wsdl:part name="delete" type="s:string" />
    <wsdl:part name="select" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppTableAddHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AppTableRemoveHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppTableRemoveHttpGetOut" />
  <wsdl:message name="AppTableColumnRemoveHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnRemoveHttpGetOut" />
  <wsdl:message name="AppTableColumnAddHttpGetIn">
    <wsdl:part name="tabId" type="s:string" />
    <wsdl:part name="nom" type="s:string" />
    <wsdl:part name="seq" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="length" type="s:string" />
    <wsdl:part name="prec" type="s:string" />
    <wsdl:part name="scale" type="s:string" />
    <wsdl:part name="nullable" type="s:string" />
    <wsdl:part name="readOnly" type="s:string" />
    <wsdl:part name="isLong" type="s:string" />
    <wsdl:part name="isKey" type="s:string" />
    <wsdl:part name="keyType" type="s:string" />
    <wsdl:part name="unique" type="s:string" />
    <wsdl:part name="desc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnAddHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnRetrieveHttpGetIn">
    <wsdl:part name="appTableColumnId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:APP_TABLE_COLUMNS" />
  </wsdl:message>
  <wsdl:message name="ClientRetrieveHttpGetIn">
    <wsdl:part name="clientId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:CLIENTS" />
  </wsdl:message>
  <wsdl:message name="ClientRemoveHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientRemoveHttpGetOut" />
  <wsdl:message name="ClientAddHttpGetIn">
    <wsdl:part name="clientId" type="s:string" />
    <wsdl:part name="desc" type="s:string" />
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientAddHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ClientAppsAddHttpGetIn">
    <wsdl:part name="appId" type="s:string" />
    <wsdl:part name="clientId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientAppsAddHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ClientAppRetrieveHttpGetIn">
    <wsdl:part name="clientAppId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientAppRetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:CLIENT_APPS" />
  </wsdl:message>
  <wsdl:message name="ClientAppRemoveHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientAppRemoveHttpGetOut" />
  <wsdl:message name="GetExternalIPHttpPostIn" />
  <wsdl:message name="GetExternalIPHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCommandRepoHttpPostIn" />
  <wsdl:message name="GetCommandRepoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCommand" />
  </wsdl:message>
  <wsdl:message name="GetConnectionRepositoryHttpPostIn" />
  <wsdl:message name="GetConnectionRepositoryHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfClient" />
  </wsdl:message>
  <wsdl:message name="GetConsumerRepositoryHttpPostIn" />
  <wsdl:message name="GetConsumerRepositoryHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfConsumer" />
  </wsdl:message>
  <wsdl:message name="GetLogRepositoryHttpPostIn" />
  <wsdl:message name="GetLogRepositoryHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLog" />
  </wsdl:message>
  <wsdl:message name="GetResponseRepositoryHttpPostIn" />
  <wsdl:message name="GetResponseRepositoryHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfResponse" />
  </wsdl:message>
  <wsdl:message name="LogsGetAllHttpPostIn" />
  <wsdl:message name="LogsGetAllHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLog" />
  </wsdl:message>
  <wsdl:message name="RetrieveCommandHttpPostIn">
    <wsdl:part name="Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveCommandHttpPostOut" />
  <wsdl:message name="ResetLogsHttpPostIn" />
  <wsdl:message name="ResetLogsHttpPostOut" />
  <wsdl:message name="AppAddHttpPostIn">
    <wsdl:part name="authKey" type="s:string" />
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="isClientCustomApp" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppAddHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AppRetrieveHttpPostIn">
    <wsdl:part name="appId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:APPS" />
  </wsdl:message>
  <wsdl:message name="AppRemoveHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppRemoveHttpPostOut" />
  <wsdl:message name="AppTableRetrieveHttpPostIn">
    <wsdl:part name="appTableId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppTableRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:APP_TABLES" />
  </wsdl:message>
  <wsdl:message name="AppTableAddHttpPostIn">
    <wsdl:part name="appId" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="desc" type="s:string" />
    <wsdl:part name="insert" type="s:string" />
    <wsdl:part name="update" type="s:string" />
    <wsdl:part name="delete" type="s:string" />
    <wsdl:part name="select" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppTableAddHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AppTableRemoveHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppTableRemoveHttpPostOut" />
  <wsdl:message name="AppTableColumnRemoveHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnRemoveHttpPostOut" />
  <wsdl:message name="AppTableColumnAddHttpPostIn">
    <wsdl:part name="tabId" type="s:string" />
    <wsdl:part name="nom" type="s:string" />
    <wsdl:part name="seq" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="length" type="s:string" />
    <wsdl:part name="prec" type="s:string" />
    <wsdl:part name="scale" type="s:string" />
    <wsdl:part name="nullable" type="s:string" />
    <wsdl:part name="readOnly" type="s:string" />
    <wsdl:part name="isLong" type="s:string" />
    <wsdl:part name="isKey" type="s:string" />
    <wsdl:part name="keyType" type="s:string" />
    <wsdl:part name="unique" type="s:string" />
    <wsdl:part name="desc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnAddHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnRetrieveHttpPostIn">
    <wsdl:part name="appTableColumnId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AppTableColumnRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:APP_TABLE_COLUMNS" />
  </wsdl:message>
  <wsdl:message name="ClientRetrieveHttpPostIn">
    <wsdl:part name="clientId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:CLIENTS" />
  </wsdl:message>
  <wsdl:message name="ClientRemoveHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientRemoveHttpPostOut" />
  <wsdl:message name="ClientAddHttpPostIn">
    <wsdl:part name="clientId" type="s:string" />
    <wsdl:part name="desc" type="s:string" />
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientAddHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ClientAppsAddHttpPostIn">
    <wsdl:part name="appId" type="s:string" />
    <wsdl:part name="clientId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientAppsAddHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ClientAppRetrieveHttpPostIn">
    <wsdl:part name="clientAppId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientAppRetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:CLIENT_APPS" />
  </wsdl:message>
  <wsdl:message name="ClientAppRemoveHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientAppRemoveHttpPostOut" />
  <wsdl:portType name="ManagerSDKSoap">
    <wsdl:operation name="GetExternalIP">
      <wsdl:input message="tns:GetExternalIPSoapIn" />
      <wsdl:output message="tns:GetExternalIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommandRepo">
      <wsdl:input message="tns:GetCommandRepoSoapIn" />
      <wsdl:output message="tns:GetCommandRepoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRepository">
      <wsdl:input message="tns:GetConnectionRepositorySoapIn" />
      <wsdl:output message="tns:GetConnectionRepositorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumerRepository">
      <wsdl:input message="tns:GetConsumerRepositorySoapIn" />
      <wsdl:output message="tns:GetConsumerRepositorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogRepository">
      <wsdl:input message="tns:GetLogRepositorySoapIn" />
      <wsdl:output message="tns:GetLogRepositorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResponseRepository">
      <wsdl:input message="tns:GetResponseRepositorySoapIn" />
      <wsdl:output message="tns:GetResponseRepositorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogsGetAll">
      <wsdl:input message="tns:LogsGetAllSoapIn" />
      <wsdl:output message="tns:LogsGetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input message="tns:QuerySoapIn" />
      <wsdl:output message="tns:QuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NonQuery">
      <wsdl:input message="tns:NonQuerySoapIn" />
      <wsdl:output message="tns:NonQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCommand">
      <wsdl:input message="tns:RetrieveCommandSoapIn" />
      <wsdl:output message="tns:RetrieveCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetLogs">
      <wsdl:input message="tns:ResetLogsSoapIn" />
      <wsdl:output message="tns:ResetLogsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppAdd">
      <wsdl:input message="tns:AppAddSoapIn" />
      <wsdl:output message="tns:AppAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppRetrieve">
      <wsdl:input message="tns:AppRetrieveSoapIn" />
      <wsdl:output message="tns:AppRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppRemove">
      <wsdl:input message="tns:AppRemoveSoapIn" />
      <wsdl:output message="tns:AppRemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableRetrieve">
      <wsdl:input message="tns:AppTableRetrieveSoapIn" />
      <wsdl:output message="tns:AppTableRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableAdd">
      <wsdl:input message="tns:AppTableAddSoapIn" />
      <wsdl:output message="tns:AppTableAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableRemove">
      <wsdl:input message="tns:AppTableRemoveSoapIn" />
      <wsdl:output message="tns:AppTableRemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRemove">
      <wsdl:input message="tns:AppTableColumnRemoveSoapIn" />
      <wsdl:output message="tns:AppTableColumnRemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnAdd">
      <wsdl:input message="tns:AppTableColumnAddSoapIn" />
      <wsdl:output message="tns:AppTableColumnAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRetrieve">
      <wsdl:input message="tns:AppTableColumnRetrieveSoapIn" />
      <wsdl:output message="tns:AppTableColumnRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientRetrieve">
      <wsdl:input message="tns:ClientRetrieveSoapIn" />
      <wsdl:output message="tns:ClientRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientRemove">
      <wsdl:input message="tns:ClientRemoveSoapIn" />
      <wsdl:output message="tns:ClientRemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientAdd">
      <wsdl:input message="tns:ClientAddSoapIn" />
      <wsdl:output message="tns:ClientAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientAppsAdd">
      <wsdl:input message="tns:ClientAppsAddSoapIn" />
      <wsdl:output message="tns:ClientAppsAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientAppRetrieve">
      <wsdl:input message="tns:ClientAppRetrieveSoapIn" />
      <wsdl:output message="tns:ClientAppRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientAppRemove">
      <wsdl:input message="tns:ClientAppRemoveSoapIn" />
      <wsdl:output message="tns:ClientAppRemoveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ManagerSDKHttpGet">
    <wsdl:operation name="GetExternalIP">
      <wsdl:input message="tns:GetExternalIPHttpGetIn" />
      <wsdl:output message="tns:GetExternalIPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommandRepo">
      <wsdl:input message="tns:GetCommandRepoHttpGetIn" />
      <wsdl:output message="tns:GetCommandRepoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRepository">
      <wsdl:input message="tns:GetConnectionRepositoryHttpGetIn" />
      <wsdl:output message="tns:GetConnectionRepositoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumerRepository">
      <wsdl:input message="tns:GetConsumerRepositoryHttpGetIn" />
      <wsdl:output message="tns:GetConsumerRepositoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogRepository">
      <wsdl:input message="tns:GetLogRepositoryHttpGetIn" />
      <wsdl:output message="tns:GetLogRepositoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResponseRepository">
      <wsdl:input message="tns:GetResponseRepositoryHttpGetIn" />
      <wsdl:output message="tns:GetResponseRepositoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogsGetAll">
      <wsdl:input message="tns:LogsGetAllHttpGetIn" />
      <wsdl:output message="tns:LogsGetAllHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCommand">
      <wsdl:input message="tns:RetrieveCommandHttpGetIn" />
      <wsdl:output message="tns:RetrieveCommandHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetLogs">
      <wsdl:input message="tns:ResetLogsHttpGetIn" />
      <wsdl:output message="tns:ResetLogsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AppAdd">
      <wsdl:input message="tns:AppAddHttpGetIn" />
      <wsdl:output message="tns:AppAddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AppRetrieve">
      <wsdl:input message="tns:AppRetrieveHttpGetIn" />
      <wsdl:output message="tns:AppRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AppRemove">
      <wsdl:input message="tns:AppRemoveHttpGetIn" />
      <wsdl:output message="tns:AppRemoveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableRetrieve">
      <wsdl:input message="tns:AppTableRetrieveHttpGetIn" />
      <wsdl:output message="tns:AppTableRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableAdd">
      <wsdl:input message="tns:AppTableAddHttpGetIn" />
      <wsdl:output message="tns:AppTableAddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableRemove">
      <wsdl:input message="tns:AppTableRemoveHttpGetIn" />
      <wsdl:output message="tns:AppTableRemoveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRemove">
      <wsdl:input message="tns:AppTableColumnRemoveHttpGetIn" />
      <wsdl:output message="tns:AppTableColumnRemoveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnAdd">
      <wsdl:input message="tns:AppTableColumnAddHttpGetIn" />
      <wsdl:output message="tns:AppTableColumnAddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRetrieve">
      <wsdl:input message="tns:AppTableColumnRetrieveHttpGetIn" />
      <wsdl:output message="tns:AppTableColumnRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientRetrieve">
      <wsdl:input message="tns:ClientRetrieveHttpGetIn" />
      <wsdl:output message="tns:ClientRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientRemove">
      <wsdl:input message="tns:ClientRemoveHttpGetIn" />
      <wsdl:output message="tns:ClientRemoveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientAdd">
      <wsdl:input message="tns:ClientAddHttpGetIn" />
      <wsdl:output message="tns:ClientAddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientAppsAdd">
      <wsdl:input message="tns:ClientAppsAddHttpGetIn" />
      <wsdl:output message="tns:ClientAppsAddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientAppRetrieve">
      <wsdl:input message="tns:ClientAppRetrieveHttpGetIn" />
      <wsdl:output message="tns:ClientAppRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientAppRemove">
      <wsdl:input message="tns:ClientAppRemoveHttpGetIn" />
      <wsdl:output message="tns:ClientAppRemoveHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ManagerSDKHttpPost">
    <wsdl:operation name="GetExternalIP">
      <wsdl:input message="tns:GetExternalIPHttpPostIn" />
      <wsdl:output message="tns:GetExternalIPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommandRepo">
      <wsdl:input message="tns:GetCommandRepoHttpPostIn" />
      <wsdl:output message="tns:GetCommandRepoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRepository">
      <wsdl:input message="tns:GetConnectionRepositoryHttpPostIn" />
      <wsdl:output message="tns:GetConnectionRepositoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumerRepository">
      <wsdl:input message="tns:GetConsumerRepositoryHttpPostIn" />
      <wsdl:output message="tns:GetConsumerRepositoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogRepository">
      <wsdl:input message="tns:GetLogRepositoryHttpPostIn" />
      <wsdl:output message="tns:GetLogRepositoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResponseRepository">
      <wsdl:input message="tns:GetResponseRepositoryHttpPostIn" />
      <wsdl:output message="tns:GetResponseRepositoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogsGetAll">
      <wsdl:input message="tns:LogsGetAllHttpPostIn" />
      <wsdl:output message="tns:LogsGetAllHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCommand">
      <wsdl:input message="tns:RetrieveCommandHttpPostIn" />
      <wsdl:output message="tns:RetrieveCommandHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetLogs">
      <wsdl:input message="tns:ResetLogsHttpPostIn" />
      <wsdl:output message="tns:ResetLogsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AppAdd">
      <wsdl:input message="tns:AppAddHttpPostIn" />
      <wsdl:output message="tns:AppAddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AppRetrieve">
      <wsdl:input message="tns:AppRetrieveHttpPostIn" />
      <wsdl:output message="tns:AppRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AppRemove">
      <wsdl:input message="tns:AppRemoveHttpPostIn" />
      <wsdl:output message="tns:AppRemoveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableRetrieve">
      <wsdl:input message="tns:AppTableRetrieveHttpPostIn" />
      <wsdl:output message="tns:AppTableRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableAdd">
      <wsdl:input message="tns:AppTableAddHttpPostIn" />
      <wsdl:output message="tns:AppTableAddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableRemove">
      <wsdl:input message="tns:AppTableRemoveHttpPostIn" />
      <wsdl:output message="tns:AppTableRemoveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRemove">
      <wsdl:input message="tns:AppTableColumnRemoveHttpPostIn" />
      <wsdl:output message="tns:AppTableColumnRemoveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnAdd">
      <wsdl:input message="tns:AppTableColumnAddHttpPostIn" />
      <wsdl:output message="tns:AppTableColumnAddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRetrieve">
      <wsdl:input message="tns:AppTableColumnRetrieveHttpPostIn" />
      <wsdl:output message="tns:AppTableColumnRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientRetrieve">
      <wsdl:input message="tns:ClientRetrieveHttpPostIn" />
      <wsdl:output message="tns:ClientRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientRemove">
      <wsdl:input message="tns:ClientRemoveHttpPostIn" />
      <wsdl:output message="tns:ClientRemoveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientAdd">
      <wsdl:input message="tns:ClientAddHttpPostIn" />
      <wsdl:output message="tns:ClientAddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientAppsAdd">
      <wsdl:input message="tns:ClientAppsAddHttpPostIn" />
      <wsdl:output message="tns:ClientAppsAddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientAppRetrieve">
      <wsdl:input message="tns:ClientAppRetrieveHttpPostIn" />
      <wsdl:output message="tns:ClientAppRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientAppRemove">
      <wsdl:input message="tns:ClientAppRemoveHttpPostIn" />
      <wsdl:output message="tns:ClientAppRemoveHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManagerSDKSoap" type="tns:ManagerSDKSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExternalIP">
      <soap:operation soapAction="http://pmh.plexxis.com/GetExternalIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommandRepo">
      <soap:operation soapAction="http://pmh.plexxis.com/GetCommandRepo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRepository">
      <soap:operation soapAction="http://pmh.plexxis.com/GetConnectionRepository" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumerRepository">
      <soap:operation soapAction="http://pmh.plexxis.com/GetConsumerRepository" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogRepository">
      <soap:operation soapAction="http://pmh.plexxis.com/GetLogRepository" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResponseRepository">
      <soap:operation soapAction="http://pmh.plexxis.com/GetResponseRepository" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogsGetAll">
      <soap:operation soapAction="http://pmh.plexxis.com/LogsGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://pmh.plexxis.com/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NonQuery">
      <soap:operation soapAction="http://pmh.plexxis.com/NonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCommand">
      <soap:operation soapAction="http://pmh.plexxis.com/RetrieveCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetLogs">
      <soap:operation soapAction="http://pmh.plexxis.com/ResetLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppAdd">
      <soap:operation soapAction="http://pmh.plexxis.com/AppAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppRetrieve">
      <soap:operation soapAction="http://pmh.plexxis.com/AppRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppRemove">
      <soap:operation soapAction="http://pmh.plexxis.com/AppRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableRetrieve">
      <soap:operation soapAction="http://pmh.plexxis.com/AppTableRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableAdd">
      <soap:operation soapAction="http://pmh.plexxis.com/AppTableAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableRemove">
      <soap:operation soapAction="http://pmh.plexxis.com/AppTableRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRemove">
      <soap:operation soapAction="http://pmh.plexxis.com/AppTableColumnRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnAdd">
      <soap:operation soapAction="http://pmh.plexxis.com/AppTableColumnAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRetrieve">
      <soap:operation soapAction="http://pmh.plexxis.com/AppTableColumnRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientRetrieve">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientRemove">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAdd">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAppsAdd">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientAppsAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAppRetrieve">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientAppRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAppRemove">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientAppRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManagerSDKSoap12" type="tns:ManagerSDKSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExternalIP">
      <soap12:operation soapAction="http://pmh.plexxis.com/GetExternalIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommandRepo">
      <soap12:operation soapAction="http://pmh.plexxis.com/GetCommandRepo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRepository">
      <soap12:operation soapAction="http://pmh.plexxis.com/GetConnectionRepository" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumerRepository">
      <soap12:operation soapAction="http://pmh.plexxis.com/GetConsumerRepository" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogRepository">
      <soap12:operation soapAction="http://pmh.plexxis.com/GetLogRepository" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResponseRepository">
      <soap12:operation soapAction="http://pmh.plexxis.com/GetResponseRepository" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogsGetAll">
      <soap12:operation soapAction="http://pmh.plexxis.com/LogsGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap12:operation soapAction="http://pmh.plexxis.com/Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NonQuery">
      <soap12:operation soapAction="http://pmh.plexxis.com/NonQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCommand">
      <soap12:operation soapAction="http://pmh.plexxis.com/RetrieveCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetLogs">
      <soap12:operation soapAction="http://pmh.plexxis.com/ResetLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppAdd">
      <soap12:operation soapAction="http://pmh.plexxis.com/AppAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppRetrieve">
      <soap12:operation soapAction="http://pmh.plexxis.com/AppRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppRemove">
      <soap12:operation soapAction="http://pmh.plexxis.com/AppRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableRetrieve">
      <soap12:operation soapAction="http://pmh.plexxis.com/AppTableRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableAdd">
      <soap12:operation soapAction="http://pmh.plexxis.com/AppTableAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableRemove">
      <soap12:operation soapAction="http://pmh.plexxis.com/AppTableRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRemove">
      <soap12:operation soapAction="http://pmh.plexxis.com/AppTableColumnRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnAdd">
      <soap12:operation soapAction="http://pmh.plexxis.com/AppTableColumnAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRetrieve">
      <soap12:operation soapAction="http://pmh.plexxis.com/AppTableColumnRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientRetrieve">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientRemove">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAdd">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAppsAdd">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientAppsAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAppRetrieve">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientAppRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAppRemove">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientAppRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManagerSDKHttpGet" type="tns:ManagerSDKHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetExternalIP">
      <http:operation location="/GetExternalIP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommandRepo">
      <http:operation location="/GetCommandRepo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRepository">
      <http:operation location="/GetConnectionRepository" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumerRepository">
      <http:operation location="/GetConsumerRepository" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogRepository">
      <http:operation location="/GetLogRepository" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResponseRepository">
      <http:operation location="/GetResponseRepository" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogsGetAll">
      <http:operation location="/LogsGetAll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCommand">
      <http:operation location="/RetrieveCommand" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ResetLogs">
      <http:operation location="/ResetLogs" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AppAdd">
      <http:operation location="/AppAdd" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppRetrieve">
      <http:operation location="/AppRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppRemove">
      <http:operation location="/AppRemove" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AppTableRetrieve">
      <http:operation location="/AppTableRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableAdd">
      <http:operation location="/AppTableAdd" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableRemove">
      <http:operation location="/AppTableRemove" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRemove">
      <http:operation location="/AppTableColumnRemove" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnAdd">
      <http:operation location="/AppTableColumnAdd" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRetrieve">
      <http:operation location="/AppTableColumnRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientRetrieve">
      <http:operation location="/ClientRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientRemove">
      <http:operation location="/ClientRemove" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientAdd">
      <http:operation location="/ClientAdd" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAppsAdd">
      <http:operation location="/ClientAppsAdd" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAppRetrieve">
      <http:operation location="/ClientAppRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAppRemove">
      <http:operation location="/ClientAppRemove" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManagerSDKHttpPost" type="tns:ManagerSDKHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetExternalIP">
      <http:operation location="/GetExternalIP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommandRepo">
      <http:operation location="/GetCommandRepo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRepository">
      <http:operation location="/GetConnectionRepository" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumerRepository">
      <http:operation location="/GetConsumerRepository" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogRepository">
      <http:operation location="/GetLogRepository" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResponseRepository">
      <http:operation location="/GetResponseRepository" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogsGetAll">
      <http:operation location="/LogsGetAll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCommand">
      <http:operation location="/RetrieveCommand" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ResetLogs">
      <http:operation location="/ResetLogs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AppAdd">
      <http:operation location="/AppAdd" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppRetrieve">
      <http:operation location="/AppRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppRemove">
      <http:operation location="/AppRemove" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AppTableRetrieve">
      <http:operation location="/AppTableRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableAdd">
      <http:operation location="/AppTableAdd" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableRemove">
      <http:operation location="/AppTableRemove" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRemove">
      <http:operation location="/AppTableColumnRemove" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnAdd">
      <http:operation location="/AppTableColumnAdd" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppTableColumnRetrieve">
      <http:operation location="/AppTableColumnRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientRetrieve">
      <http:operation location="/ClientRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientRemove">
      <http:operation location="/ClientRemove" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientAdd">
      <http:operation location="/ClientAdd" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAppsAdd">
      <http:operation location="/ClientAppsAdd" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAppRetrieve">
      <http:operation location="/ClientAppRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAppRemove">
      <http:operation location="/ClientAppRemove" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerSDK">
    <wsdl:port name="ManagerSDKSoap" binding="tns:ManagerSDKSoap">
      <soap:address location="http://pmht.plexxis.com/management.asmx" />
    </wsdl:port>
    <wsdl:port name="ManagerSDKSoap12" binding="tns:ManagerSDKSoap12">
      <soap12:address location="http://pmht.plexxis.com/management.asmx" />
    </wsdl:port>
    <wsdl:port name="ManagerSDKHttpGet" binding="tns:ManagerSDKHttpGet">
      <http:address location="http://pmht.plexxis.com/management.asmx" />
    </wsdl:port>
    <wsdl:port name="ManagerSDKHttpPost" binding="tns:ManagerSDKHttpPost">
      <http:address location="http://pmht.plexxis.com/management.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>