Plex.Pmh.Manager/Service References/ManagementResources/managersdk1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AppsGet">
        <s:complexType />
      </s:element>
      <s:element name="AppsGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppsGetResult" type="tns:ArrayOfApps" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfApps">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Apps" nillable="true" type="tns:Apps" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Apps">
        <s:complexContent mixed="false">
          <s:extension base="tns:PlexxisDataTransferObjects">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AppId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="AuthKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="isClientCustomApp" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PlexxisDataTransferObjects" abstract="true" />
      <s:element name="AppCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="tns:Apps" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AppCreateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="tns:Apps" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AppDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="tns:Apps" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AppUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientsGet">
        <s:complexType />
      </s:element>
      <s:element name="ClientsGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientsGetResult" type="tns:ArrayOfClients" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClients">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Clients" nillable="true" type="tns:Clients" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Clients">
        <s:complexContent mixed="false">
          <s:extension base="tns:PlexxisDataTransferObjects">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ClientCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Clients" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClientCreateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Clients" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClientDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogsGet">
        <s:complexType />
      </s:element>
      <s:element name="LogsGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogsGetResult" type="tns:ArrayOfLogs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLogs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Logs" nillable="true" type="tns:Logs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Logs">
        <s:complexContent mixed="false">
          <s:extension base="tns:PlexxisDataTransferObjects">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="LogId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LogDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ArrayOfApps" nillable="true" type="tns:ArrayOfApps" />
      <s:element name="ArrayOfClients" nillable="true" type="tns:ArrayOfClients" />
      <s:element name="ArrayOfLogs" nillable="true" type="tns:ArrayOfLogs" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AppsGetSoapIn">
    <wsdl:part name="parameters" element="tns:AppsGet" />
  </wsdl:message>
  <wsdl:message name="AppsGetSoapOut">
    <wsdl:part name="parameters" element="tns:AppsGetResponse" />
  </wsdl:message>
  <wsdl:message name="AppCreateSoapIn">
    <wsdl:part name="parameters" element="tns:AppCreate" />
  </wsdl:message>
  <wsdl:message name="AppCreateSoapOut">
    <wsdl:part name="parameters" element="tns:AppCreateResponse" />
  </wsdl:message>
  <wsdl:message name="AppDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:AppDelete" />
  </wsdl:message>
  <wsdl:message name="AppDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:AppDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="AppUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:AppUpdate" />
  </wsdl:message>
  <wsdl:message name="AppUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:AppUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ClientsGetSoapIn">
    <wsdl:part name="parameters" element="tns:ClientsGet" />
  </wsdl:message>
  <wsdl:message name="ClientsGetSoapOut">
    <wsdl:part name="parameters" element="tns:ClientsGetResponse" />
  </wsdl:message>
  <wsdl:message name="ClientCreateSoapIn">
    <wsdl:part name="parameters" element="tns:ClientCreate" />
  </wsdl:message>
  <wsdl:message name="ClientCreateSoapOut">
    <wsdl:part name="parameters" element="tns:ClientCreateResponse" />
  </wsdl:message>
  <wsdl:message name="ClientDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:ClientDelete" />
  </wsdl:message>
  <wsdl:message name="ClientDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:ClientDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="LogsGetSoapIn">
    <wsdl:part name="parameters" element="tns:LogsGet" />
  </wsdl:message>
  <wsdl:message name="LogsGetSoapOut">
    <wsdl:part name="parameters" element="tns:LogsGetResponse" />
  </wsdl:message>
  <wsdl:message name="AppsGetHttpGetIn" />
  <wsdl:message name="AppsGetHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfApps" />
  </wsdl:message>
  <wsdl:message name="ClientsGetHttpGetIn" />
  <wsdl:message name="ClientsGetHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfClients" />
  </wsdl:message>
  <wsdl:message name="LogsGetHttpGetIn" />
  <wsdl:message name="LogsGetHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLogs" />
  </wsdl:message>
  <wsdl:message name="AppsGetHttpPostIn" />
  <wsdl:message name="AppsGetHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfApps" />
  </wsdl:message>
  <wsdl:message name="ClientsGetHttpPostIn" />
  <wsdl:message name="ClientsGetHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfClients" />
  </wsdl:message>
  <wsdl:message name="LogsGetHttpPostIn" />
  <wsdl:message name="LogsGetHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLogs" />
  </wsdl:message>
  <wsdl:portType name="ManagerSDKSoap">
    <wsdl:operation name="AppsGet">
      <wsdl:input message="tns:AppsGetSoapIn" />
      <wsdl:output message="tns:AppsGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppCreate">
      <wsdl:input message="tns:AppCreateSoapIn" />
      <wsdl:output message="tns:AppCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppDelete">
      <wsdl:input message="tns:AppDeleteSoapIn" />
      <wsdl:output message="tns:AppDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppUpdate">
      <wsdl:input message="tns:AppUpdateSoapIn" />
      <wsdl:output message="tns:AppUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientsGet">
      <wsdl:input message="tns:ClientsGetSoapIn" />
      <wsdl:output message="tns:ClientsGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientCreate">
      <wsdl:input message="tns:ClientCreateSoapIn" />
      <wsdl:output message="tns:ClientCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDelete">
      <wsdl:input message="tns:ClientDeleteSoapIn" />
      <wsdl:output message="tns:ClientDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogsGet">
      <wsdl:input message="tns:LogsGetSoapIn" />
      <wsdl:output message="tns:LogsGetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ManagerSDKHttpGet">
    <wsdl:operation name="AppsGet">
      <wsdl:input message="tns:AppsGetHttpGetIn" />
      <wsdl:output message="tns:AppsGetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientsGet">
      <wsdl:input message="tns:ClientsGetHttpGetIn" />
      <wsdl:output message="tns:ClientsGetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogsGet">
      <wsdl:input message="tns:LogsGetHttpGetIn" />
      <wsdl:output message="tns:LogsGetHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ManagerSDKHttpPost">
    <wsdl:operation name="AppsGet">
      <wsdl:input message="tns:AppsGetHttpPostIn" />
      <wsdl:output message="tns:AppsGetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientsGet">
      <wsdl:input message="tns:ClientsGetHttpPostIn" />
      <wsdl:output message="tns:ClientsGetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogsGet">
      <wsdl:input message="tns:LogsGetHttpPostIn" />
      <wsdl:output message="tns:LogsGetHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManagerSDKSoap" type="tns:ManagerSDKSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AppsGet">
      <soap:operation soapAction="http://tempuri.org/AppsGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppCreate">
      <soap:operation soapAction="http://tempuri.org/AppCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppDelete">
      <soap:operation soapAction="http://tempuri.org/AppDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppUpdate">
      <soap:operation soapAction="http://tempuri.org/AppUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientsGet">
      <soap:operation soapAction="http://tempuri.org/ClientsGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientCreate">
      <soap:operation soapAction="http://tempuri.org/ClientCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDelete">
      <soap:operation soapAction="http://tempuri.org/ClientDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogsGet">
      <soap:operation soapAction="http://tempuri.org/LogsGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManagerSDKSoap12" type="tns:ManagerSDKSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AppsGet">
      <soap12:operation soapAction="http://tempuri.org/AppsGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppCreate">
      <soap12:operation soapAction="http://tempuri.org/AppCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppDelete">
      <soap12:operation soapAction="http://tempuri.org/AppDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppUpdate">
      <soap12:operation soapAction="http://tempuri.org/AppUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientsGet">
      <soap12:operation soapAction="http://tempuri.org/ClientsGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientCreate">
      <soap12:operation soapAction="http://tempuri.org/ClientCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDelete">
      <soap12:operation soapAction="http://tempuri.org/ClientDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogsGet">
      <soap12:operation soapAction="http://tempuri.org/LogsGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManagerSDKHttpGet" type="tns:ManagerSDKHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AppsGet">
      <http:operation location="/AppsGet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientsGet">
      <http:operation location="/ClientsGet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogsGet">
      <http:operation location="/LogsGet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManagerSDKHttpPost" type="tns:ManagerSDKHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AppsGet">
      <http:operation location="/AppsGet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientsGet">
      <http:operation location="/ClientsGet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogsGet">
      <http:operation location="/LogsGet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerSDK">
    <wsdl:port name="ManagerSDKSoap" binding="tns:ManagerSDKSoap">
      <soap:address location="http://pmh.plexxis.com/managersdk.asmx" />
    </wsdl:port>
    <wsdl:port name="ManagerSDKSoap12" binding="tns:ManagerSDKSoap12">
      <soap12:address location="http://pmh.plexxis.com/managersdk.asmx" />
    </wsdl:port>
    <wsdl:port name="ManagerSDKHttpGet" binding="tns:ManagerSDKHttpGet">
      <http:address location="http://pmh.plexxis.com/managersdk.asmx" />
    </wsdl:port>
    <wsdl:port name="ManagerSDKHttpPost" binding="tns:ManagerSDKHttpPost">
      <http:address location="http://pmh.plexxis.com/managersdk.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>