Plex.MobileHub.Client/Service References/PMH/clients.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pmh.plexxis.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pmh.plexxis.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pmh.plexxis.com">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPv4" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Port" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCommands">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommandsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommandsResult" type="tns:ArrayOfCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCommand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Command" nillable="true" type="tns:Command" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Command">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Params" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Column">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ColumnSequence" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DataType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataLength" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataPrecision" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataScale" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AllowDbNull" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsReadOnly" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLong" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsKey" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUnique" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MethodResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Response" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QryResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:MethodResult">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StartTimeStamp" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CompletionTimeStamp" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DBErrorCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DBErrorMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Columns" type="tns:ArrayOfColumn" />
              <s:element minOccurs="0" maxOccurs="1" name="Rows" type="tns:ArrayOfRow" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Column" nillable="true" type="tns:Column" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRow">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Row" nillable="true" type="tns:Row" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Row">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DBAction" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RowVersion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RQryResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:QryResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QueryName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="IUDData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ColumnNames" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Rows" type="tns:ArrayOfRow" />
        </s:sequence>
      </s:complexType>
      <s:element name="Respond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Resp" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Resp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsError" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="RespondResponse">
        <s:complexType />
      </s:element>
      <s:element name="ResponsePartial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Component" type="tns:ResponseComponent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseComponent">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ComponentId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLastComponent" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ResponsePartialResponse">
        <s:complexType />
      </s:element>
      <s:element name="Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arguments" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Columns" type="tns:ArrayOfCol" />
          <s:element minOccurs="0" maxOccurs="1" name="Rows" type="tns:ArrayOfTuple" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCol">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Col" nillable="true" type="tns:Col" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Col">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ColumnSequence" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DataType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataLength" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataPrecision" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataScale" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AllowDbNull" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsReadOnly" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLong" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsKey" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUnique" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTuple">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tuple" nillable="true" type="tns:Tuple" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tuple">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NonQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arguments" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NonQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NonQueryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncDataGet">
        <s:complexType />
      </s:element>
      <s:complexType name="ClientSynchroData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Apps" type="tns:ArrayOfApplicationSynchroData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfApplicationSynchroData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ApplicationSynchroData" nillable="true" type="tns:ApplicationSynchroData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApplicationSynchroData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationQueries" type="tns:ArrayOfQuerySynchroData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfQuerySynchroData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QuerySynchroData" nillable="true" type="tns:QuerySynchroData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QuerySynchroData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="QueryId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cols" type="tns:ArrayOfQueryColumnSynchroData" />
          <s:element minOccurs="0" maxOccurs="1" name="Conds" type="tns:ArrayOfQueryConditionSynchroData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfQueryColumnSynchroData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QueryColumnSynchroData" nillable="true" type="tns:QueryColumnSynchroData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QueryColumnSynchroData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ColName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ColSeq" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ColId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfQueryConditionSynchroData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QueryConditionSynchroData" nillable="true" type="tns:QueryConditionSynchroData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QueryConditionSynchroData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ColumnNVL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ColumnValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Operation" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SyncDataGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncDataGetResult" type="tns:ClientSynchroData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppQueriesRetrieve">
        <s:complexType />
      </s:element>
      <s:element name="AppQueriesRetrieveResponse">
        <s:complexType />
      </s:element>
      <s:element name="AppUserTypesRetrieve">
        <s:complexType />
      </s:element>
      <s:element name="AppUserTypesRetrieveResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddClientDbCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="companyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClientDbCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddClientDbCompanyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientDbCompanyAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="companyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientDbCompanyAddResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClientDbCompanyRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientDbCompanyRemoveResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClientDbCompanyUserAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dbCompanyId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ConnectAs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientDbCompanyUserAddResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClientDbCompanyUserRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientDbCompanyUserRemoveResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClientDbCompanyUserAppsAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dbCompanyUserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="appUserTypeId" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientDbCompanyUserAppsAddResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClientDbCompanyUserAppsRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientDbCompanyUserAppsRemoveResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClientUserAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientUserAddResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClientUserRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientUserId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientUserRemoveResponse">
        <s:complexType />
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfCommand" nillable="true" type="tns:ArrayOfCommand" />
      <s:element name="ClientSynchroData" nillable="true" type="tns:ClientSynchroData" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommandsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommands" />
  </wsdl:message>
  <wsdl:message name="GetCommandsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommandsResponse" />
  </wsdl:message>
  <wsdl:message name="RespondSoapIn">
    <wsdl:part name="parameters" element="tns:Respond" />
  </wsdl:message>
  <wsdl:message name="RespondSoapOut">
    <wsdl:part name="parameters" element="tns:RespondResponse" />
  </wsdl:message>
  <wsdl:message name="ResponsePartialSoapIn">
    <wsdl:part name="parameters" element="tns:ResponsePartial" />
  </wsdl:message>
  <wsdl:message name="ResponsePartialSoapOut">
    <wsdl:part name="parameters" element="tns:ResponsePartialResponse" />
  </wsdl:message>
  <wsdl:message name="QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="QuerySoapOut">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="NonQuerySoapIn">
    <wsdl:part name="parameters" element="tns:NonQuery" />
  </wsdl:message>
  <wsdl:message name="NonQuerySoapOut">
    <wsdl:part name="parameters" element="tns:NonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="SyncDataGetSoapIn">
    <wsdl:part name="parameters" element="tns:SyncDataGet" />
  </wsdl:message>
  <wsdl:message name="SyncDataGetSoapOut">
    <wsdl:part name="parameters" element="tns:SyncDataGetResponse" />
  </wsdl:message>
  <wsdl:message name="AppQueriesRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:AppQueriesRetrieve" />
  </wsdl:message>
  <wsdl:message name="AppQueriesRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:AppQueriesRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="AppUserTypesRetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:AppUserTypesRetrieve" />
  </wsdl:message>
  <wsdl:message name="AppUserTypesRetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:AppUserTypesRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="AddClientDbCompanySoapIn">
    <wsdl:part name="parameters" element="tns:AddClientDbCompany" />
  </wsdl:message>
  <wsdl:message name="AddClientDbCompanySoapOut">
    <wsdl:part name="parameters" element="tns:AddClientDbCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyAddSoapIn">
    <wsdl:part name="parameters" element="tns:ClientDbCompanyAdd" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyAddSoapOut">
    <wsdl:part name="parameters" element="tns:ClientDbCompanyAddResponse" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:ClientDbCompanyRemove" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:ClientDbCompanyRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserAddSoapIn">
    <wsdl:part name="parameters" element="tns:ClientDbCompanyUserAdd" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserAddSoapOut">
    <wsdl:part name="parameters" element="tns:ClientDbCompanyUserAddResponse" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:ClientDbCompanyUserRemove" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:ClientDbCompanyUserRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserAppsAddSoapIn">
    <wsdl:part name="parameters" element="tns:ClientDbCompanyUserAppsAdd" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserAppsAddSoapOut">
    <wsdl:part name="parameters" element="tns:ClientDbCompanyUserAppsAddResponse" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserAppsRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:ClientDbCompanyUserAppsRemove" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserAppsRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:ClientDbCompanyUserAppsRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ClientUserAddSoapIn">
    <wsdl:part name="parameters" element="tns:ClientUserAdd" />
  </wsdl:message>
  <wsdl:message name="ClientUserAddSoapOut">
    <wsdl:part name="parameters" element="tns:ClientUserAddResponse" />
  </wsdl:message>
  <wsdl:message name="ClientUserRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:ClientUserRemove" />
  </wsdl:message>
  <wsdl:message name="ClientUserRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:ClientUserRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="ClientId" type="s:string" />
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="IPv4" type="s:string" />
    <wsdl:part name="Port" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LogoutHttpGetIn">
    <wsdl:part name="ConnectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogoutHttpGetOut" />
  <wsdl:message name="GetCommandsHttpGetIn">
    <wsdl:part name="ConnectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCommandsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCommand" />
  </wsdl:message>
  <wsdl:message name="SyncDataGetHttpGetIn" />
  <wsdl:message name="SyncDataGetHttpGetOut">
    <wsdl:part name="Body" element="tns:ClientSynchroData" />
  </wsdl:message>
  <wsdl:message name="AppQueriesRetrieveHttpGetIn" />
  <wsdl:message name="AppQueriesRetrieveHttpGetOut" />
  <wsdl:message name="AppUserTypesRetrieveHttpGetIn" />
  <wsdl:message name="AppUserTypesRetrieveHttpGetOut" />
  <wsdl:message name="AddClientDbCompanyHttpGetIn">
    <wsdl:part name="clientId" type="s:string" />
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="ConnectionString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddClientDbCompanyHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyAddHttpGetIn">
    <wsdl:part name="clientId" type="s:string" />
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="connectionString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyAddHttpGetOut" />
  <wsdl:message name="ClientDbCompanyRemoveHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyRemoveHttpGetOut" />
  <wsdl:message name="ClientDbCompanyUserAddHttpGetIn">
    <wsdl:part name="dbCompanyId" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ConnectAs" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserAddHttpGetOut" />
  <wsdl:message name="ClientDbCompanyUserRemoveHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserRemoveHttpGetOut" />
  <wsdl:message name="ClientDbCompanyUserAppsRemoveHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserAppsRemoveHttpGetOut" />
  <wsdl:message name="ClientUserAddHttpGetIn">
    <wsdl:part name="clientId" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientUserAddHttpGetOut" />
  <wsdl:message name="ClientUserRemoveHttpGetIn">
    <wsdl:part name="clientUserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientUserRemoveHttpGetOut" />
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="ClientId" type="s:string" />
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="IPv4" type="s:string" />
    <wsdl:part name="Port" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LogoutHttpPostIn">
    <wsdl:part name="ConnectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogoutHttpPostOut" />
  <wsdl:message name="GetCommandsHttpPostIn">
    <wsdl:part name="ConnectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCommandsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCommand" />
  </wsdl:message>
  <wsdl:message name="SyncDataGetHttpPostIn" />
  <wsdl:message name="SyncDataGetHttpPostOut">
    <wsdl:part name="Body" element="tns:ClientSynchroData" />
  </wsdl:message>
  <wsdl:message name="AppQueriesRetrieveHttpPostIn" />
  <wsdl:message name="AppQueriesRetrieveHttpPostOut" />
  <wsdl:message name="AppUserTypesRetrieveHttpPostIn" />
  <wsdl:message name="AppUserTypesRetrieveHttpPostOut" />
  <wsdl:message name="AddClientDbCompanyHttpPostIn">
    <wsdl:part name="clientId" type="s:string" />
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="ConnectionString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddClientDbCompanyHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyAddHttpPostIn">
    <wsdl:part name="clientId" type="s:string" />
    <wsdl:part name="companyCode" type="s:string" />
    <wsdl:part name="connectionString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyAddHttpPostOut" />
  <wsdl:message name="ClientDbCompanyRemoveHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyRemoveHttpPostOut" />
  <wsdl:message name="ClientDbCompanyUserAddHttpPostIn">
    <wsdl:part name="dbCompanyId" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ConnectAs" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserAddHttpPostOut" />
  <wsdl:message name="ClientDbCompanyUserRemoveHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserRemoveHttpPostOut" />
  <wsdl:message name="ClientDbCompanyUserAppsRemoveHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientDbCompanyUserAppsRemoveHttpPostOut" />
  <wsdl:message name="ClientUserAddHttpPostIn">
    <wsdl:part name="clientId" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientUserAddHttpPostOut" />
  <wsdl:message name="ClientUserRemoveHttpPostIn">
    <wsdl:part name="clientUserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientUserRemoveHttpPostOut" />
  <wsdl:portType name="ClientSDKSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommands">
      <wsdl:input message="tns:GetCommandsSoapIn" />
      <wsdl:output message="tns:GetCommandsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Respond">
      <wsdl:input message="tns:RespondSoapIn" />
      <wsdl:output message="tns:RespondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResponsePartial">
      <wsdl:input message="tns:ResponsePartialSoapIn" />
      <wsdl:output message="tns:ResponsePartialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input message="tns:QuerySoapIn" />
      <wsdl:output message="tns:QuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NonQuery">
      <wsdl:input message="tns:NonQuerySoapIn" />
      <wsdl:output message="tns:NonQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncDataGet">
      <wsdl:input message="tns:SyncDataGetSoapIn" />
      <wsdl:output message="tns:SyncDataGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppQueriesRetrieve">
      <wsdl:input message="tns:AppQueriesRetrieveSoapIn" />
      <wsdl:output message="tns:AppQueriesRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppUserTypesRetrieve">
      <wsdl:input message="tns:AppUserTypesRetrieveSoapIn" />
      <wsdl:output message="tns:AppUserTypesRetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClientDbCompany">
      <wsdl:input message="tns:AddClientDbCompanySoapIn" />
      <wsdl:output message="tns:AddClientDbCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyAdd">
      <wsdl:input message="tns:ClientDbCompanyAddSoapIn" />
      <wsdl:output message="tns:ClientDbCompanyAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyRemove">
      <wsdl:input message="tns:ClientDbCompanyRemoveSoapIn" />
      <wsdl:output message="tns:ClientDbCompanyRemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAdd">
      <wsdl:input message="tns:ClientDbCompanyUserAddSoapIn" />
      <wsdl:output message="tns:ClientDbCompanyUserAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserRemove">
      <wsdl:input message="tns:ClientDbCompanyUserRemoveSoapIn" />
      <wsdl:output message="tns:ClientDbCompanyUserRemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAppsAdd">
      <wsdl:input message="tns:ClientDbCompanyUserAppsAddSoapIn" />
      <wsdl:output message="tns:ClientDbCompanyUserAppsAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAppsRemove">
      <wsdl:input message="tns:ClientDbCompanyUserAppsRemoveSoapIn" />
      <wsdl:output message="tns:ClientDbCompanyUserAppsRemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientUserAdd">
      <wsdl:input message="tns:ClientUserAddSoapIn" />
      <wsdl:output message="tns:ClientUserAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientUserRemove">
      <wsdl:input message="tns:ClientUserRemoveSoapIn" />
      <wsdl:output message="tns:ClientUserRemoveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ClientSDKHttpGet">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutHttpGetIn" />
      <wsdl:output message="tns:LogoutHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommands">
      <wsdl:input message="tns:GetCommandsHttpGetIn" />
      <wsdl:output message="tns:GetCommandsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncDataGet">
      <wsdl:input message="tns:SyncDataGetHttpGetIn" />
      <wsdl:output message="tns:SyncDataGetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AppQueriesRetrieve">
      <wsdl:input message="tns:AppQueriesRetrieveHttpGetIn" />
      <wsdl:output message="tns:AppQueriesRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AppUserTypesRetrieve">
      <wsdl:input message="tns:AppUserTypesRetrieveHttpGetIn" />
      <wsdl:output message="tns:AppUserTypesRetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClientDbCompany">
      <wsdl:input message="tns:AddClientDbCompanyHttpGetIn" />
      <wsdl:output message="tns:AddClientDbCompanyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyAdd">
      <wsdl:input message="tns:ClientDbCompanyAddHttpGetIn" />
      <wsdl:output message="tns:ClientDbCompanyAddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyRemove">
      <wsdl:input message="tns:ClientDbCompanyRemoveHttpGetIn" />
      <wsdl:output message="tns:ClientDbCompanyRemoveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAdd">
      <wsdl:input message="tns:ClientDbCompanyUserAddHttpGetIn" />
      <wsdl:output message="tns:ClientDbCompanyUserAddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserRemove">
      <wsdl:input message="tns:ClientDbCompanyUserRemoveHttpGetIn" />
      <wsdl:output message="tns:ClientDbCompanyUserRemoveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAppsRemove">
      <wsdl:input message="tns:ClientDbCompanyUserAppsRemoveHttpGetIn" />
      <wsdl:output message="tns:ClientDbCompanyUserAppsRemoveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientUserAdd">
      <wsdl:input message="tns:ClientUserAddHttpGetIn" />
      <wsdl:output message="tns:ClientUserAddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientUserRemove">
      <wsdl:input message="tns:ClientUserRemoveHttpGetIn" />
      <wsdl:output message="tns:ClientUserRemoveHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ClientSDKHttpPost">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutHttpPostIn" />
      <wsdl:output message="tns:LogoutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommands">
      <wsdl:input message="tns:GetCommandsHttpPostIn" />
      <wsdl:output message="tns:GetCommandsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncDataGet">
      <wsdl:input message="tns:SyncDataGetHttpPostIn" />
      <wsdl:output message="tns:SyncDataGetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AppQueriesRetrieve">
      <wsdl:input message="tns:AppQueriesRetrieveHttpPostIn" />
      <wsdl:output message="tns:AppQueriesRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AppUserTypesRetrieve">
      <wsdl:input message="tns:AppUserTypesRetrieveHttpPostIn" />
      <wsdl:output message="tns:AppUserTypesRetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClientDbCompany">
      <wsdl:input message="tns:AddClientDbCompanyHttpPostIn" />
      <wsdl:output message="tns:AddClientDbCompanyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyAdd">
      <wsdl:input message="tns:ClientDbCompanyAddHttpPostIn" />
      <wsdl:output message="tns:ClientDbCompanyAddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyRemove">
      <wsdl:input message="tns:ClientDbCompanyRemoveHttpPostIn" />
      <wsdl:output message="tns:ClientDbCompanyRemoveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAdd">
      <wsdl:input message="tns:ClientDbCompanyUserAddHttpPostIn" />
      <wsdl:output message="tns:ClientDbCompanyUserAddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserRemove">
      <wsdl:input message="tns:ClientDbCompanyUserRemoveHttpPostIn" />
      <wsdl:output message="tns:ClientDbCompanyUserRemoveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAppsRemove">
      <wsdl:input message="tns:ClientDbCompanyUserAppsRemoveHttpPostIn" />
      <wsdl:output message="tns:ClientDbCompanyUserAppsRemoveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientUserAdd">
      <wsdl:input message="tns:ClientUserAddHttpPostIn" />
      <wsdl:output message="tns:ClientUserAddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientUserRemove">
      <wsdl:input message="tns:ClientUserRemoveHttpPostIn" />
      <wsdl:output message="tns:ClientUserRemoveHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientSDKSoap" type="tns:ClientSDKSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://pmh.plexxis.com/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://pmh.plexxis.com/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommands">
      <soap:operation soapAction="http://pmh.plexxis.com/GetCommands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Respond">
      <soap:operation soapAction="http://pmh.plexxis.com/Respond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResponsePartial">
      <soap:operation soapAction="http://pmh.plexxis.com/ResponsePartial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://pmh.plexxis.com/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NonQuery">
      <soap:operation soapAction="http://pmh.plexxis.com/NonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncDataGet">
      <soap:operation soapAction="http://pmh.plexxis.com/SyncDataGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppQueriesRetrieve">
      <soap:operation soapAction="http://pmh.plexxis.com/AppQueriesRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppUserTypesRetrieve">
      <soap:operation soapAction="http://pmh.plexxis.com/AppUserTypesRetrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClientDbCompany">
      <soap:operation soapAction="http://pmh.plexxis.com/AddClientDbCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyAdd">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientDbCompanyAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyRemove">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientDbCompanyRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAdd">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientDbCompanyUserAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserRemove">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientDbCompanyUserRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAppsAdd">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientDbCompanyUserAppsAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAppsRemove">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientDbCompanyUserAppsRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientUserAdd">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientUserAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientUserRemove">
      <soap:operation soapAction="http://pmh.plexxis.com/ClientUserRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientSDKSoap12" type="tns:ClientSDKSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://pmh.plexxis.com/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://pmh.plexxis.com/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommands">
      <soap12:operation soapAction="http://pmh.plexxis.com/GetCommands" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Respond">
      <soap12:operation soapAction="http://pmh.plexxis.com/Respond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResponsePartial">
      <soap12:operation soapAction="http://pmh.plexxis.com/ResponsePartial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap12:operation soapAction="http://pmh.plexxis.com/Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NonQuery">
      <soap12:operation soapAction="http://pmh.plexxis.com/NonQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncDataGet">
      <soap12:operation soapAction="http://pmh.plexxis.com/SyncDataGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppQueriesRetrieve">
      <soap12:operation soapAction="http://pmh.plexxis.com/AppQueriesRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppUserTypesRetrieve">
      <soap12:operation soapAction="http://pmh.plexxis.com/AppUserTypesRetrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClientDbCompany">
      <soap12:operation soapAction="http://pmh.plexxis.com/AddClientDbCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyAdd">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientDbCompanyAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyRemove">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientDbCompanyRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAdd">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientDbCompanyUserAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserRemove">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientDbCompanyUserRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAppsAdd">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientDbCompanyUserAppsAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAppsRemove">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientDbCompanyUserAppsRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientUserAdd">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientUserAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientUserRemove">
      <soap12:operation soapAction="http://pmh.plexxis.com/ClientUserRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientSDKHttpGet" type="tns:ClientSDKHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <http:operation location="/Logout" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCommands">
      <http:operation location="/GetCommands" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncDataGet">
      <http:operation location="/SyncDataGet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppQueriesRetrieve">
      <http:operation location="/AppQueriesRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AppUserTypesRetrieve">
      <http:operation location="/AppUserTypesRetrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AddClientDbCompany">
      <http:operation location="/AddClientDbCompany" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyAdd">
      <http:operation location="/ClientDbCompanyAdd" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyRemove">
      <http:operation location="/ClientDbCompanyRemove" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAdd">
      <http:operation location="/ClientDbCompanyUserAdd" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserRemove">
      <http:operation location="/ClientDbCompanyUserRemove" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAppsRemove">
      <http:operation location="/ClientDbCompanyUserAppsRemove" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientUserAdd">
      <http:operation location="/ClientUserAdd" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientUserRemove">
      <http:operation location="/ClientUserRemove" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientSDKHttpPost" type="tns:ClientSDKHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <http:operation location="/Logout" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCommands">
      <http:operation location="/GetCommands" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncDataGet">
      <http:operation location="/SyncDataGet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppQueriesRetrieve">
      <http:operation location="/AppQueriesRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AppUserTypesRetrieve">
      <http:operation location="/AppUserTypesRetrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AddClientDbCompany">
      <http:operation location="/AddClientDbCompany" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyAdd">
      <http:operation location="/ClientDbCompanyAdd" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyRemove">
      <http:operation location="/ClientDbCompanyRemove" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAdd">
      <http:operation location="/ClientDbCompanyUserAdd" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserRemove">
      <http:operation location="/ClientDbCompanyUserRemove" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientDbCompanyUserAppsRemove">
      <http:operation location="/ClientDbCompanyUserAppsRemove" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientUserAdd">
      <http:operation location="/ClientUserAdd" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClientUserRemove">
      <http:operation location="/ClientUserRemove" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientSDK">
    <wsdl:port name="ClientSDKSoap" binding="tns:ClientSDKSoap">
      <soap:address location="http://pmht.plexxis.com/clients.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientSDKSoap12" binding="tns:ClientSDKSoap12">
      <soap12:address location="http://pmht.plexxis.com/clients.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientSDKHttpGet" binding="tns:ClientSDKHttpGet">
      <http:address location="http://pmht.plexxis.com/clients.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientSDKHttpPost" binding="tns:ClientSDKHttpPost">
      <http:address location="http://pmht.plexxis.com/clients.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>