Plex.MobileHub.Test/Service References/Service/api.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pmh.plexxis.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pmh.plexxis.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pmh.plexxis.com">
      <s:element name="ConnectionConnect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AppId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectionConnectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionConnectResult" type="tns:MethodResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MethodResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Response" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConnectionRelease">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectionReleaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionReleaseResult" type="tns:MethodResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectionStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectionStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionStatusResult" type="tns:MethodResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QryExecute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="QueryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QryExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QryExecuteResult" type="tns:RQryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RQryResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:QryResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QueryName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="QryResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:MethodResult">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StartTimeStamp" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CompletionTimeStamp" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DBErrorCode" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DBErrorMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Columns" type="tns:ArrayOfColumn" />
              <s:element minOccurs="0" maxOccurs="1" name="Rows" type="tns:ArrayOfRow" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Column" nillable="true" type="tns:Column" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Column">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ColumnSequence" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DataType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataLength" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataPrecision" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataScale" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AllowDbNull" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsReadOnly" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLong" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsKey" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUnique" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRow">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Row" nillable="true" type="tns:Row" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Row">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DBAction" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RowVersion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="QryExecuteXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="QueryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QryExecuteXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QryExecuteXmlResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nConnectionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DBModData" type="tns:IUDData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IUDData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ColumnNames" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Rows" type="tns:ArrayOfRow" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IUDResult" type="tns:MethodResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sync">
        <s:complexType />
      </s:element>
      <s:element name="SyncResponse">
        <s:complexType />
      </s:element>
      <s:element name="QueryDatabase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryDatabaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryDatabaseResult" type="tns:QryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeviceSynchronize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectionId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRQryResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RQryResult" nillable="true" type="tns:RQryResult" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeviceSynchronizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeviceSynchronizeResult" type="tns:DeviceSynchronizeMethodResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DeviceSynchronizeMethodResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:MethodResult">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StartTimeStamp" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CompletionTimeStamp" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfRQryResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="DeviceRequestId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="connectionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeviceRequestIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeviceRequestIdResult" type="tns:MethodResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MethodResult" nillable="true" type="tns:MethodResult" />
      <s:element name="RQryResult" nillable="true" type="tns:RQryResult" />
      <s:element name="QryResult" nillable="true" type="tns:QryResult" />
      <s:element name="DeviceSynchronizeMethodResult" nillable="true" type="tns:DeviceSynchronizeMethodResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConnectionConnectSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectionConnect" />
  </wsdl:message>
  <wsdl:message name="ConnectionConnectSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectionConnectResponse" />
  </wsdl:message>
  <wsdl:message name="ConnectionReleaseSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectionRelease" />
  </wsdl:message>
  <wsdl:message name="ConnectionReleaseSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectionReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="ConnectionStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectionStatus" />
  </wsdl:message>
  <wsdl:message name="ConnectionStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="QryExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:QryExecute" />
  </wsdl:message>
  <wsdl:message name="QryExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:QryExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="QryExecuteXmlSoapIn">
    <wsdl:part name="parameters" element="tns:QryExecuteXml" />
  </wsdl:message>
  <wsdl:message name="QryExecuteXmlSoapOut">
    <wsdl:part name="parameters" element="tns:QryExecuteXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IUDSoapIn">
    <wsdl:part name="parameters" element="tns:IUD" />
  </wsdl:message>
  <wsdl:message name="IUDSoapOut">
    <wsdl:part name="parameters" element="tns:IUDResponse" />
  </wsdl:message>
  <wsdl:message name="SyncSoapIn">
    <wsdl:part name="parameters" element="tns:Sync" />
  </wsdl:message>
  <wsdl:message name="SyncSoapOut">
    <wsdl:part name="parameters" element="tns:SyncResponse" />
  </wsdl:message>
  <wsdl:message name="QueryDatabaseSoapIn">
    <wsdl:part name="parameters" element="tns:QueryDatabase" />
  </wsdl:message>
  <wsdl:message name="QueryDatabaseSoapOut">
    <wsdl:part name="parameters" element="tns:QueryDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="DeviceSynchronizeSoapIn">
    <wsdl:part name="parameters" element="tns:DeviceSynchronize" />
  </wsdl:message>
  <wsdl:message name="DeviceSynchronizeSoapOut">
    <wsdl:part name="parameters" element="tns:DeviceSynchronizeResponse" />
  </wsdl:message>
  <wsdl:message name="DeviceRequestIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeviceRequestId" />
  </wsdl:message>
  <wsdl:message name="DeviceRequestIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeviceRequestIdResponse" />
  </wsdl:message>
  <wsdl:message name="ConnectionConnectHttpGetIn">
    <wsdl:part name="ClientId" type="s:string" />
    <wsdl:part name="AppId" type="s:string" />
    <wsdl:part name="Database" type="s:string" />
    <wsdl:part name="User" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConnectionConnectHttpGetOut">
    <wsdl:part name="Body" element="tns:MethodResult" />
  </wsdl:message>
  <wsdl:message name="ConnectionReleaseHttpGetIn">
    <wsdl:part name="ConnectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConnectionReleaseHttpGetOut">
    <wsdl:part name="Body" element="tns:MethodResult" />
  </wsdl:message>
  <wsdl:message name="ConnectionStatusHttpGetIn">
    <wsdl:part name="ConnectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConnectionStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:MethodResult" />
  </wsdl:message>
  <wsdl:message name="QryExecuteHttpGetIn">
    <wsdl:part name="ConnectionId" type="s:string" />
    <wsdl:part name="QueryName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QryExecuteHttpGetOut">
    <wsdl:part name="Body" element="tns:RQryResult" />
  </wsdl:message>
  <wsdl:message name="QryExecuteXmlHttpGetIn">
    <wsdl:part name="ConnectionId" type="s:string" />
    <wsdl:part name="QueryName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QryExecuteXmlHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SyncHttpGetIn" />
  <wsdl:message name="SyncHttpGetOut" />
  <wsdl:message name="QueryDatabaseHttpGetIn">
    <wsdl:part name="ConnectionId" type="s:string" />
    <wsdl:part name="Query" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryDatabaseHttpGetOut">
    <wsdl:part name="Body" element="tns:QryResult" />
  </wsdl:message>
  <wsdl:message name="DeviceSynchronizeHttpGetIn">
    <wsdl:part name="ConnectionId" type="s:string" />
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeviceSynchronizeHttpGetOut">
    <wsdl:part name="Body" element="tns:DeviceSynchronizeMethodResult" />
  </wsdl:message>
  <wsdl:message name="DeviceRequestIdHttpGetIn">
    <wsdl:part name="connectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeviceRequestIdHttpGetOut">
    <wsdl:part name="Body" element="tns:MethodResult" />
  </wsdl:message>
  <wsdl:message name="ConnectionConnectHttpPostIn">
    <wsdl:part name="ClientId" type="s:string" />
    <wsdl:part name="AppId" type="s:string" />
    <wsdl:part name="Database" type="s:string" />
    <wsdl:part name="User" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConnectionConnectHttpPostOut">
    <wsdl:part name="Body" element="tns:MethodResult" />
  </wsdl:message>
  <wsdl:message name="ConnectionReleaseHttpPostIn">
    <wsdl:part name="ConnectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConnectionReleaseHttpPostOut">
    <wsdl:part name="Body" element="tns:MethodResult" />
  </wsdl:message>
  <wsdl:message name="ConnectionStatusHttpPostIn">
    <wsdl:part name="ConnectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConnectionStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:MethodResult" />
  </wsdl:message>
  <wsdl:message name="QryExecuteHttpPostIn">
    <wsdl:part name="ConnectionId" type="s:string" />
    <wsdl:part name="QueryName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QryExecuteHttpPostOut">
    <wsdl:part name="Body" element="tns:RQryResult" />
  </wsdl:message>
  <wsdl:message name="QryExecuteXmlHttpPostIn">
    <wsdl:part name="ConnectionId" type="s:string" />
    <wsdl:part name="QueryName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QryExecuteXmlHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SyncHttpPostIn" />
  <wsdl:message name="SyncHttpPostOut" />
  <wsdl:message name="QueryDatabaseHttpPostIn">
    <wsdl:part name="ConnectionId" type="s:string" />
    <wsdl:part name="Query" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryDatabaseHttpPostOut">
    <wsdl:part name="Body" element="tns:QryResult" />
  </wsdl:message>
  <wsdl:message name="DeviceSynchronizeHttpPostIn">
    <wsdl:part name="ConnectionId" type="s:string" />
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeviceSynchronizeHttpPostOut">
    <wsdl:part name="Body" element="tns:DeviceSynchronizeMethodResult" />
  </wsdl:message>
  <wsdl:message name="DeviceRequestIdHttpPostIn">
    <wsdl:part name="connectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeviceRequestIdHttpPostOut">
    <wsdl:part name="Body" element="tns:MethodResult" />
  </wsdl:message>
  <wsdl:portType name="APISoap">
    <wsdl:operation name="ConnectionConnect">
      <wsdl:input message="tns:ConnectionConnectSoapIn" />
      <wsdl:output message="tns:ConnectionConnectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectionRelease">
      <wsdl:input message="tns:ConnectionReleaseSoapIn" />
      <wsdl:output message="tns:ConnectionReleaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectionStatus">
      <wsdl:input message="tns:ConnectionStatusSoapIn" />
      <wsdl:output message="tns:ConnectionStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QryExecute">
      <wsdl:input message="tns:QryExecuteSoapIn" />
      <wsdl:output message="tns:QryExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QryExecuteXml">
      <wsdl:input message="tns:QryExecuteXmlSoapIn" />
      <wsdl:output message="tns:QryExecuteXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IUD">
      <wsdl:input message="tns:IUDSoapIn" />
      <wsdl:output message="tns:IUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sync">
      <wsdl:input message="tns:SyncSoapIn" />
      <wsdl:output message="tns:SyncSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryDatabase">
      <wsdl:input message="tns:QueryDatabaseSoapIn" />
      <wsdl:output message="tns:QueryDatabaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceSynchronize">
      <wsdl:input message="tns:DeviceSynchronizeSoapIn" />
      <wsdl:output message="tns:DeviceSynchronizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceRequestId">
      <wsdl:input message="tns:DeviceRequestIdSoapIn" />
      <wsdl:output message="tns:DeviceRequestIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="APIHttpGet">
    <wsdl:operation name="ConnectionConnect">
      <wsdl:input message="tns:ConnectionConnectHttpGetIn" />
      <wsdl:output message="tns:ConnectionConnectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectionRelease">
      <wsdl:input message="tns:ConnectionReleaseHttpGetIn" />
      <wsdl:output message="tns:ConnectionReleaseHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectionStatus">
      <wsdl:input message="tns:ConnectionStatusHttpGetIn" />
      <wsdl:output message="tns:ConnectionStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QryExecute">
      <wsdl:input message="tns:QryExecuteHttpGetIn" />
      <wsdl:output message="tns:QryExecuteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QryExecuteXml">
      <wsdl:input message="tns:QryExecuteXmlHttpGetIn" />
      <wsdl:output message="tns:QryExecuteXmlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Sync">
      <wsdl:input message="tns:SyncHttpGetIn" />
      <wsdl:output message="tns:SyncHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryDatabase">
      <wsdl:input message="tns:QueryDatabaseHttpGetIn" />
      <wsdl:output message="tns:QueryDatabaseHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceSynchronize">
      <wsdl:input message="tns:DeviceSynchronizeHttpGetIn" />
      <wsdl:output message="tns:DeviceSynchronizeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceRequestId">
      <wsdl:input message="tns:DeviceRequestIdHttpGetIn" />
      <wsdl:output message="tns:DeviceRequestIdHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="APIHttpPost">
    <wsdl:operation name="ConnectionConnect">
      <wsdl:input message="tns:ConnectionConnectHttpPostIn" />
      <wsdl:output message="tns:ConnectionConnectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectionRelease">
      <wsdl:input message="tns:ConnectionReleaseHttpPostIn" />
      <wsdl:output message="tns:ConnectionReleaseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectionStatus">
      <wsdl:input message="tns:ConnectionStatusHttpPostIn" />
      <wsdl:output message="tns:ConnectionStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QryExecute">
      <wsdl:input message="tns:QryExecuteHttpPostIn" />
      <wsdl:output message="tns:QryExecuteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QryExecuteXml">
      <wsdl:input message="tns:QryExecuteXmlHttpPostIn" />
      <wsdl:output message="tns:QryExecuteXmlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Sync">
      <wsdl:input message="tns:SyncHttpPostIn" />
      <wsdl:output message="tns:SyncHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryDatabase">
      <wsdl:input message="tns:QueryDatabaseHttpPostIn" />
      <wsdl:output message="tns:QueryDatabaseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceSynchronize">
      <wsdl:input message="tns:DeviceSynchronizeHttpPostIn" />
      <wsdl:output message="tns:DeviceSynchronizeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceRequestId">
      <wsdl:input message="tns:DeviceRequestIdHttpPostIn" />
      <wsdl:output message="tns:DeviceRequestIdHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APISoap" type="tns:APISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectionConnect">
      <soap:operation soapAction="http://pmh.plexxis.com/ConnectionConnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionRelease">
      <soap:operation soapAction="http://pmh.plexxis.com/ConnectionRelease" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionStatus">
      <soap:operation soapAction="http://pmh.plexxis.com/ConnectionStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QryExecute">
      <soap:operation soapAction="http://pmh.plexxis.com/QryExecute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QryExecuteXml">
      <soap:operation soapAction="http://pmh.plexxis.com/QryExecuteXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IUD">
      <soap:operation soapAction="http://pmh.plexxis.com/IUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sync">
      <soap:operation soapAction="http://pmh.plexxis.com/Sync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDatabase">
      <soap:operation soapAction="http://pmh.plexxis.com/QueryDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceSynchronize">
      <soap:operation soapAction="http://pmh.plexxis.com/DeviceSynchronize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceRequestId">
      <soap:operation soapAction="http://pmh.plexxis.com/DeviceRequestId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APISoap12" type="tns:APISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectionConnect">
      <soap12:operation soapAction="http://pmh.plexxis.com/ConnectionConnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionRelease">
      <soap12:operation soapAction="http://pmh.plexxis.com/ConnectionRelease" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionStatus">
      <soap12:operation soapAction="http://pmh.plexxis.com/ConnectionStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QryExecute">
      <soap12:operation soapAction="http://pmh.plexxis.com/QryExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QryExecuteXml">
      <soap12:operation soapAction="http://pmh.plexxis.com/QryExecuteXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IUD">
      <soap12:operation soapAction="http://pmh.plexxis.com/IUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sync">
      <soap12:operation soapAction="http://pmh.plexxis.com/Sync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDatabase">
      <soap12:operation soapAction="http://pmh.plexxis.com/QueryDatabase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceSynchronize">
      <soap12:operation soapAction="http://pmh.plexxis.com/DeviceSynchronize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceRequestId">
      <soap12:operation soapAction="http://pmh.plexxis.com/DeviceRequestId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIHttpGet" type="tns:APIHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ConnectionConnect">
      <http:operation location="/ConnectionConnect" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionRelease">
      <http:operation location="/ConnectionRelease" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionStatus">
      <http:operation location="/ConnectionStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QryExecute">
      <http:operation location="/QryExecute" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QryExecuteXml">
      <http:operation location="/QryExecuteXml" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sync">
      <http:operation location="/Sync" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="QueryDatabase">
      <http:operation location="/QueryDatabase" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceSynchronize">
      <http:operation location="/DeviceSynchronize" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceRequestId">
      <http:operation location="/DeviceRequestId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIHttpPost" type="tns:APIHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ConnectionConnect">
      <http:operation location="/ConnectionConnect" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionRelease">
      <http:operation location="/ConnectionRelease" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionStatus">
      <http:operation location="/ConnectionStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QryExecute">
      <http:operation location="/QryExecute" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QryExecuteXml">
      <http:operation location="/QryExecuteXml" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sync">
      <http:operation location="/Sync" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="QueryDatabase">
      <http:operation location="/QueryDatabase" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceSynchronize">
      <http:operation location="/DeviceSynchronize" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceRequestId">
      <http:operation location="/DeviceRequestId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="API">
    <wsdl:port name="APISoap" binding="tns:APISoap">
      <soap:address location="http://pmht.plexxis.com/api.asmx" />
    </wsdl:port>
    <wsdl:port name="APISoap12" binding="tns:APISoap12">
      <soap12:address location="http://pmht.plexxis.com/api.asmx" />
    </wsdl:port>
    <wsdl:port name="APIHttpGet" binding="tns:APIHttpGet">
      <http:address location="http://pmht.plexxis.com/api.asmx" />
    </wsdl:port>
    <wsdl:port name="APIHttpPost" binding="tns:APIHttpPost">
      <http:address location="http://pmht.plexxis.com/api.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>