Plex.MobileHub.Client.Interface/Service References/GeneralService/General4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MobileHubClient.PMH" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MobileHubClient.PMH" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:55555/General?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
  <xs:complexType name="CLIENTS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PlexxisDataTransferObjects">
        <xs:sequence>
          <xs:element name="cLIENT_IDField" type="xs:int" />
          <xs:element name="cLIENT_INSTANCE_IDField" nillable="true" type="xs:int" />
          <xs:element name="cLIENT_IP_ADDRESSField" nillable="true" type="xs:string" />
          <xs:element name="cLIENT_KEYField" nillable="true" type="xs:string" />
          <xs:element name="cLIENT_PORTField" nillable="true" type="xs:int" />
          <xs:element name="dESCRIPTIONField" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CLIENTS" nillable="true" type="tns:CLIENTS" />
  <xs:complexType name="PlexxisDataTransferObjects">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q1:PropertyChangedEventHandler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlexxisDataTransferObjects" nillable="true" type="tns:PlexxisDataTransferObjects" />
</xs:schema>