Plex.MobileHub.Client.Interface/Service References/GeneralService/General.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="PMHC" elementFormDefault="qualified" targetNamespace="PMHC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:55555/General?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://127.0.0.1:55555/General?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MobileHubClient.Data" />
  <xs:import schemaLocation="http://127.0.0.1:55555/General?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MobileHubClient.PMH" />
  <xs:element name="SetClientKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientKeyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAddressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPort">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Port" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAutoLogOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutoLogOn" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAutoLogOnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientKey">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPort">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPortResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoLogOn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoLogOnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAutoLogOnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutMessageLimt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutMessageLimtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOutMessageLimtResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDefaultSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDefaultSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoggedIn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoggedInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLoggedInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOff">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateClientCredentials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateClientCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateClientCredentialsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commandText" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="arguments" nillable="true" type="q1:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MobileHubClient.Data" minOccurs="0" name="QueryResult" nillable="true" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CilentsRetrieve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CilentsRetrieveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MobileHubClient.PMH" minOccurs="0" name="CilentsRetrieveResult" nillable="true" type="q3:CLIENTS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientsAppsRetrieve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientsAppsRetrieveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MobileHubClient.PMH" minOccurs="0" name="ClientsAppsRetrieveResult" nillable="true" type="q4:CLIENT_APPS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientDbCompanyAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientDbCompanyAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientDbCompanyRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientDbCompanyRemoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientDbCompanyUserAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="connectAs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientDbCompanyUserAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientDbCompanyUserRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientDbCompanyUserRemoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientDbCompanyUserAppsAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
        <xs:element minOccurs="0" name="dbCompanyUserId" type="xs:int" />
        <xs:element minOccurs="0" name="appUserTypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientDbCompanyUserAppsAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientUserAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientUserAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientUserRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientUserRemoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientUserRetrieveAllForClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientUserRetrieveAllForClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MobileHubClient.PMH" minOccurs="0" name="ClientUserRetrieveAllForClientsResult" nillable="true" type="q5:ArrayOfCLIENT_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientUserRetrieve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientUserRetrieveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MobileHubClient.PMH" minOccurs="0" name="ClientUserRetrieveResult" nillable="true" type="q6:CLIENT_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>