~Plex.MobileHub.Client.Interface/Service References/Logs/Logs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="PMHC" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="PMHC" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="PMHC/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:55555/Logs?xsd=xsd0" namespace="PMHC" />
      <xsd:import schemaLocation="http://127.0.0.1:55555/Logs?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:55555/Logs?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Plex.Logs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LogsService_GetLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogs" />
  </wsdl:message>
  <wsdl:message name="LogsService_GetLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogsResponse" />
  </wsdl:message>
  <wsdl:message name="LogsService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="LogsService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:portType name="LogsService">
    <wsdl:operation name="GetLogs">
      <wsdl:input wsaw:Action="PMHC/LogsService/GetLogs" message="tns:LogsService_GetLogs_InputMessage" />
      <wsdl:output wsaw:Action="PMHC/LogsService/GetLogsResponse" message="tns:LogsService_GetLogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="PMHC/LogsService/Add" message="tns:LogsService_Add_InputMessage" />
      <wsdl:output wsaw:Action="PMHC/LogsService/AddResponse" message="tns:LogsService_Add_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>