Plex.MobileHub.Client.Interface/Service References/DatabaseService/Database.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="PMHC" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="PMHC" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="PMHC/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:55555/Database?xsd=xsd0" namespace="PMHC" />
      <xsd:import schemaLocation="http://127.0.0.1:55555/Database?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:55555/Database?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://127.0.0.1:55555/Database?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MobileHubClient.Data" />
      <xsd:import schemaLocation="http://127.0.0.1:55555/Database?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DatabaseService_RegisterDbConnectionData_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterDbConnectionData" />
  </wsdl:message>
  <wsdl:message name="DatabaseService_RegisterDbConnectionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterDbConnectionDataResponse" />
  </wsdl:message>
  <wsdl:message name="DatabaseService_DatabaseInformationSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:DatabaseInformationSearch" />
  </wsdl:message>
  <wsdl:message name="DatabaseService_DatabaseInformationSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DatabaseInformationSearchResponse" />
  </wsdl:message>
  <wsdl:message name="DatabaseService_DatabaseInformationRetrieve_InputMessage">
    <wsdl:part name="parameters" element="tns:DatabaseInformationRetrieve" />
  </wsdl:message>
  <wsdl:message name="DatabaseService_DatabaseInformationRetrieve_OutputMessage">
    <wsdl:part name="parameters" element="tns:DatabaseInformationRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="DatabaseService_DatabaseInformationRefresh_InputMessage">
    <wsdl:part name="parameters" element="tns:DatabaseInformationRefresh" />
  </wsdl:message>
  <wsdl:message name="DatabaseService_DatabaseInformationRefresh_OutputMessage">
    <wsdl:part name="parameters" element="tns:DatabaseInformationRefreshResponse" />
  </wsdl:message>
  <wsdl:message name="DatabaseService_QuerySource_InputMessage">
    <wsdl:part name="parameters" element="tns:QuerySource" />
  </wsdl:message>
  <wsdl:message name="DatabaseService_QuerySource_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuerySourceResponse" />
  </wsdl:message>
  <wsdl:portType name="DatabaseService">
    <wsdl:operation name="RegisterDbConnectionData">
      <wsdl:input wsaw:Action="PMHC/DatabaseService/RegisterDbConnectionData" message="tns:DatabaseService_RegisterDbConnectionData_InputMessage" />
      <wsdl:output wsaw:Action="PMHC/DatabaseService/RegisterDbConnectionDataResponse" message="tns:DatabaseService_RegisterDbConnectionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DatabaseInformationSearch">
      <wsdl:input wsaw:Action="PMHC/DatabaseService/DatabaseInformationSearch" message="tns:DatabaseService_DatabaseInformationSearch_InputMessage" />
      <wsdl:output wsaw:Action="PMHC/DatabaseService/DatabaseInformationSearchResponse" message="tns:DatabaseService_DatabaseInformationSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DatabaseInformationRetrieve">
      <wsdl:input wsaw:Action="PMHC/DatabaseService/DatabaseInformationRetrieve" message="tns:DatabaseService_DatabaseInformationRetrieve_InputMessage" />
      <wsdl:output wsaw:Action="PMHC/DatabaseService/DatabaseInformationRetrieveResponse" message="tns:DatabaseService_DatabaseInformationRetrieve_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DatabaseInformationRefresh">
      <wsdl:input wsaw:Action="PMHC/DatabaseService/DatabaseInformationRefresh" message="tns:DatabaseService_DatabaseInformationRefresh_InputMessage" />
      <wsdl:output wsaw:Action="PMHC/DatabaseService/DatabaseInformationRefreshResponse" message="tns:DatabaseService_DatabaseInformationRefresh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuerySource">
      <wsdl:input wsaw:Action="PMHC/DatabaseService/QuerySource" message="tns:DatabaseService_QuerySource_InputMessage" />
      <wsdl:output wsaw:Action="PMHC/DatabaseService/QuerySourceResponse" message="tns:DatabaseService_QuerySource_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>