Plex.MobileHub.Client.Interface/Service References/DatabaseService/Database.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="PMHC" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="PMHC" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="PMHC/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:55555/Database?xsd=xsd0" namespace="PMHC" />
      <xsd:import schemaLocation="http://127.0.0.1:55555/Database?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DatabaseService_Reset_InputMessage">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="DatabaseService_Reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetResponse" />
  </wsdl:message>
  <wsdl:message name="DatabaseService_GetDataMap_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataMap" />
  </wsdl:message>
  <wsdl:message name="DatabaseService_GetDataMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataMapResponse" />
  </wsdl:message>
  <wsdl:portType name="DatabaseService">
    <wsdl:operation name="Reset">
      <wsdl:input wsaw:Action="PMHC/DatabaseService/Reset" message="tns:DatabaseService_Reset_InputMessage" />
      <wsdl:output wsaw:Action="PMHC/DatabaseService/ResetResponse" message="tns:DatabaseService_Reset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataMap">
      <wsdl:input wsaw:Action="PMHC/DatabaseService/GetDataMap" message="tns:DatabaseService_GetDataMap_InputMessage" />
      <wsdl:output wsaw:Action="PMHC/DatabaseService/GetDataMapResponse" message="tns:DatabaseService_GetDataMap_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>